* {
  color: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 2rem;
}

textarea {
  resize: none;
}

.spin-cw {
  animation: spin-cw 0.5s linear infinite;
}

@keyframes spin-cw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#login,
#register {
  width: 24rem;
  margin: auto;
}
